
.btn-facebook {
  background-color: hsl(218, 43%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f76b9", endColorstr="#345183");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#4f76b9), to(#345183));
  background-image: -moz-linear-gradient(top, #4f76b9, #345183);
  background-image: -ms-linear-gradient(top, #4f76b9, #345183);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f76b9), color-stop(100%, #345183));
  background-image: -webkit-linear-gradient(top, #4f76b9, #345183);
  background-image: -o-linear-gradient(top, #4f76b9, #345183);
  background-image: linear-gradient(#4f76b9, #345183);
  border-color: #345183 #345183 hsl(218, 43%, 32%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

.icon-facebook-sign {
  background-image: url(../img/facebook-icon.png);
  background-position: 0 0;
}
