.locationSoure {
	background: url(../img/pin-red-mini.png) no-repeat 5px center;
	padding-left: 30px !important;
}
.locationDestination {
	background: url(../img/pin-green-mini.png) no-repeat 5px center;
	padding-left: 30px !important;
}
.locationWaypoint {
	background: url(../img/pin-yellow-mini.png) no-repeat 5px center;
	padding-left: 30px !important;
}
.location.loading {
	background: url(../img/pin-loading.gif) no-repeat 5px center;
}

.btn-facebook {
  background-color: hsl(218, 43%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f76b9", endColorstr="#345183");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#4f76b9), to(#345183));
  background-image: -moz-linear-gradient(top, #4f76b9, #345183);
  background-image: -ms-linear-gradient(top, #4f76b9, #345183);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f76b9), color-stop(100%, #345183));
  background-image: -webkit-linear-gradient(top, #4f76b9, #345183);
  background-image: -o-linear-gradient(top, #4f76b9, #345183);
  background-image: linear-gradient(#4f76b9, #345183);
  border-color: #345183 #345183 hsl(218, 43%, 32%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

.icon-facebook-sign {
  background-image: url(../img/facebook-icon.png);
  background-position: 0 0;
}

.ui-widget { font-size: 12px; }

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
.ui-timepicker-select { width: 60px; }
